# Normalize all text files
* text=auto

# Enforce LF for specific file types
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.json text eol=lf

# Ensure .gitattributes itself has LF line endings
.gitattributes text eol=lf
